
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #f5f5f5;
    --header-bgcolor: rgb(255, 255, 82);
    --header-color: #f5f5f5;
    --text-color: #333;
    --border-color: #ddd;
}

html, body {
    height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: var(--text-color);
    background-color: #fafafa;
}

.app {
    display: flex;
    flex-direction: column;
}

.app-header {
    display: flex;
    height: 80px;
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 0 20px;
}

.app-htitle {
    display: flex;
    align-items: center;
}

.app-hcenter {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 20px;
}

.app-logo {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

.app-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.app-body {
    flex: 1;
    overflow: hidden;
}

.todo-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 20px;
}

.todo-item [type="checkbox"] {
    margin-right: 10px;
}

.todo-list {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 20px;
}